*{
    font-family: Roboto, sans-serif;
    font-size: 15px;
}
/*Styles header and it's elements*/
.header{
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: #06e8e8;*/
    border-radius: 3px;
}
.UniTitle{
    display: flex;
    align-items: center;
    gap: 10px;
}
#UniversityLogo{
    width: 270px;
    height: 60px;
}
#titletext{
    font-family: "Roboto Light";
    font-size: 30px;
    font-style: italic ;
}

.profilesection{
    display: flex;
    align-items: center;
    gap:8px
}
#MyBookingsBtn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: black;
    background-color: #3fcdcd;
    transform: translateY(-5px);
}
#AccountIcon {
    width: 45px;
    height: 45px;
    transform: translateY(-5px);
}
#MyBookingsBtn:hover{ filter: brightness(0.92); }
#AccountIcon:hover{filter: brightness(0.92);}

/*Styles elements in the body*/
#Dropdownmenu{
    margin-left: 15px;
}
#DateSelector{
    display: flex;
    margin-left: 15px;
    align-items: center;
    gap: 10px;
}

/*Styles the table*/
.Table{
    display: flex;
    gap: 0px;
    align-items: flex-start;
}
#RoomsTable{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: #dee2e2;
}
.CellName, .CellDesc{
    padding: 10px;
    height: 50px;
    width:200px;
    vertical-align: top;
    border: 2px solid black;
}
.CellDesc{
    vertical-align: middle;
}
th{
    padding: 5px;
    vertical-align: top;
    border: 2px solid black;
}
.SmallIcon{
    width: 25px;
    height: 25px;
}
.RoomImages{
    width: 125px;
    height: 110px;
    vertical-align: center;
    border: 1px solid black;
}
.SportsImages{
    width: 99px;
    height:85px;
    vertical-align: center;
    border: 1px solid black;
}

/* Schedule table for rooms*/
#RoomScheduleTable{
    background-color: whitesmoke;
    transform: translateY(-2px);
}
#RoomScheduleTable thead th{
    height: 8px;
    width: 100px;
    vertical-align: middle;
    text-align: center;
    background: #f6f6f6;
}
#RoomScheduleTable td{
    height: 186.8px;
    width: 130px;
}

/* Schedule table for Labs*/
#LabScheduleTable{
    background-color: whitesmoke;
    transform: translateY(-2px);
}
#LabScheduleTable thead th{
    height: 8px;
    width: 100px;
    vertical-align: middle;
    text-align: center;
    background: #f6f6f6;
}
#LabScheduleTable td{
    height: 178px;
    width: 130px;
}

/* Schedule table for Sport Facility*/
#SportScheduleTable{
    background-color: whitesmoke;
    transform: translateY(-2px);
}
#SportScheduleTable thead th{
    height: 8px;
    width: 100px;
    vertical-align: middle;
    text-align: center;
    background: #f6f6f6;
}
#SportScheduleTable td{
    height: 153px;
    width: 110px;
}

/* Color of each status*/
.YourBooking {
    background-color: #a9cdf8;
    border: 2px solid #007bff;
}
.available {
    background-color: #d4f7d4;
    border: 2px solid #28a745;
    cursor: pointer;  /* Shows finger instead of arrow when hovering over cells*/
}
.unavailable {
    background-color: #f8d7da;
    border: 2px solid #dc3545;
}
.UnderEvaluation {
    background-color: #e0e7ff;
    border: 2px dashed #4a90e2;
}
.blocked {
    background-color: #716d6d;
    border: 2px solid black;
}

/*Styles footer*/
footer{
    background-color: #e6e3e8;
}